header {
    display: flex;
    height: 5vh;
    background-color: rgb(64, 64, 64);
    color: white;
    font-size: 3vw;
    font-family: sans-serif;
    line-height: 40px;
    padding: 2rem;
}

body {
    margin: 0;
}

.leftcontainer{
    background-color: rgb(224,224,224);
    height: 90vh;
    width: 20vw;
    text-align: left;
    font-size: 2vw;
    font-family: sans-serif;
    padding-top: 5vh;
}

ol#projects {
    padding-top: 2vh;
}

ol#projects li {
    padding-top: 5px;
    list-style-type: none;
    font-size: 1.2vw;
}

.tasklist {
    position: absolute;
    width: 50%;
    min-height: 6vh;
    font-size: 1.2vw;
    left: 25%;
    top: 20%;
}

ul.tasklist li{
    display: flex;
    list-style-type: none;
    background-color: gray;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

ul.tasklist li div.title{
    padding-left: 5px;
}

ul.tasklist li div.container {
    display: flex;
    justify-self: flex-end;
}

ul.tasklist li div.date {
    display: flex;
    align-items: center;
}

ul.tasklist li div.date button{
    background-image: url(https://cdn.icon-icons.com/icons2/2528/PNG/512/calendar_icon_151795.png);
    background-size: cover;
    background-color: gray;
    width: 25px;
    height: 25px;
    border: none;
}

/*
ul.tasklist li div.notes button{
    background-image: url(https://cdn.iconscout.com/icon/premium/png-256-thumb/notes-2538663-2131009.png);
    background-size: cover;
    background-color: gray;
    margin-top: 5px;
    width: 25px;
    height: 25px;
    border: none;
}
*/

ul.tasklist li div.priority button{
    background-image: url(https://img.icons8.com/ios/452/high-priority.png);
    background-size: cover;
    background-color: gray;
    margin-top: 5px;
    width: 25px;
    height: 25px;
    border: none;
}

input[type="checkbox"]{
    appearance: initial;
    background: gray;
    margin-top: 5px;
    width: 25px;
    height: 25px;
    border: none;
    position: relative;
    border-radius: 2px;
}
input[type="checkbox"]:checked {
    background: red;
}

input[type="checkbox"]:checked:after {
    content: "X";
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}